<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="JenkinsTestDemo">
    <test verbose="2" preserve-order="true" name="DailyRegression">
        <packages>
            <package name="cases.appDesktop"/>
        </packages>
    </test>
</suite>